body {
  transition: background-color 2s ease;
  background-color: rgb(101 169 101);
}
.header {
  animation: showBlock 0s 1s forwards;
  visibility: hidden;
  display: flex;
}

@keyframes showBlock {
  to {
    visibility: visible;
  }
}
.logo {
  margin: 0 auto;
  font-size: 80px;
}
.main-homepage-form {
  animation: showBlock 0s 2.5s forwards;
  visibility: hidden;
}

@keyframes showBlock {
  to {
    visibility: visible;
  }
}
.homepage-page-header {
  text-align: center;
  font-size: 53px;
}

.homepage-list {
  list-style-type: none;
  border: 3px white solid;
  width: 35%;
  padding: 0;
  border-radius: 50px;
  margin: 0 auto;
}
.homepage-list-items {
  font-size: 33px;
  border-bottom: 3px white solid;
  text-align: center;
  padding: 5px;
}
.homepage-list-items:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}
.homepage-list-items-italy {
  font-size: 33px;
  text-align: center;
  padding: 5px;
}
.homepage-list-items-italy:hover {
  background-color: rgb(0, 0, 0);
}
a {
  text-decoration: none;
  color: rgb(0, 69, 216);
}
a:hover {
  color: white;
}
.wrapper {
  display: grid;
}
.main-section-container {
  display: inline-flex;
  width: 100%;
}
.league-table-container {
  width: 49%;
}
.league-table-container li {
  list-style: none;
  display: flex;
  text-align: center;
  padding-top: 18px;
  padding-right: 10px;
}
.league-table-container ul {
  display: inline-flex;
  padding-left: 3px;
  padding-right: 20px;
}
.football-crest {
  max-height: 50px;
  padding: 5px;
}
.league-item-container {
  display: flex;
}
.teampage-header {
  text-align: center;
}
ul {
  list-style: none;
}
